html
  head
    title Ma Liste de Tâches
    style
      include style.css
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    #global
      
      h1 Connexion/Inscription
      
      div.col-md-12
        h1 Connexion
        form(action="/todo/connect/" , method="post")
          div.col-md-12.text-center
            div.col-md-3
              label(for="name") Nom :
              input.form-control(type="text" , name="nom" )
            div.col-md-3
              label(for="password") Mot de passe :
              input.form-control(type="password" , name="password" )
      
          div.col-md-2.col-lg-offset-2.margin
            input.form-control.btn.btn-success(type="submit")
            
      div.col-md-12   
        h1 Inscription 
        form(action="/todo/inscription/" , method="post")
          div.col-md-12.text-center
            div.col-md-3
              label(for="name") Nom :
              input.form-control(type="text" , name="nom" )
            div.col-md-3
              label(for="password") Mot de passe :
              input.form-control(type="password" , name="password" )

          div.col-md-2.col-lg-offset-2.margin
            input.form-control.btn.btn-success(type="submit")

      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
