doctype html

html
  head
    title Ma Liste de Tâches
    style
      include style.css
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    #global
      h1 Modifier une tâche
      
      ul.list-group
        div.col-md-12
          if tache[3]
            li.limit #{tache[1]}
              a(href="/todo/supprimer/#{id}")   Supprimer
          else
            li.valide #{tache[1]}

              a(href="/todo/supprimer/#{id}")   Supprimer

        div.col-md-12
          form(action="/todo/modif/#{id}" , method="post")
            div.col-md-3
              label(for="updatetodo") Que dois-je faire ?
              input.form-control(type="text" ,value=tache[1] , name="updatetodo" )
            div.col-md-3
              label(for="date") Date Limit :
              input.form-control(value=tache[2] ,pattern ="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" ,type="text" ,name="date_limit")

            div.col-md-3
              div.form-group
                label(for="optradio") Publier :
                if tache[6]
                  div.radio-inline
                    input(type="radio",checked, name="publier", value="true")
                    |Oui
                  div.radio-inline
                    input(type="radio", name="publier", value="false")
                    |Non
                else
                    div.radio-inline
                      input(type="radio", name="publier", value="true")
                      |Oui
                    div.radio-inline
                      input(type="radio",checked, name="publier", value="false")
                      |Non
            div.col-md-3
              div.form-group
                label(for="importance") Importance de la tâches :
                select.form-control(name="important" id="importance")
                  if tache[5]=="Important"
                    option(value="Important",selected="selected") Important
                  else
                    option(value="Important") Important

                  if tache[5]=="Prioritaire"
                    option(value="Prioritaire",selected="selected") Prioritaire
                  else
                    option(value="Prioritaire") Prioritaire

                  if tache[5]=="Secondaire"
                    option(value="Secondaire",selected="selected") Secondaire
                  else
                    option(value="Secondaire") Secondaire

                  if tache[5]=="pasGrave"
                    option(value="pasGrave",selected="selected") Optionnel
                  else
                    option(value="pasGrave") Optionnel

            div.col-md-6.col-lg-offset-2
              input.form-control.btn.btn-success(type="submit")


      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
