.limit{
  color: red;
}

.valide{
  color: green;
}



/*Couleur de la tache*/
.Important{
  color:#8A0808;
}

.Prioritaire{
  color:#8A0886;
}

.Secondaire{
  color:#08088A;
}

.pasGrave{
  color:#088A08;
}


.divTache{
  border-width: 2px;
  border-style: solid;
  border-color: #696969;
  margin:15px;
}
.margin{
  margin:5px;
}
