doctype html

html
  head
    title Ma Liste de Tâches
    style
      include style.css
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    #global
      div.col-md-12
        a.btn.btn-info(href=lien,download="my_data.csv")  Télécharger la liste en CSV
      h1 La liste des autres Taches
      div.col-md-6
        a.btn-danger.btn(href="/todo/deconnect/")   Déconnexion
      div.col-md-6
        a.btn-warning.btn(href="/todo/")   Retour
      ul.list-group
        each todo, index in todolist
          div.col-md-5.divTache
            if todo[3]
              li
                h1.limit Nom de la tache : #{todo[1]} 
                if(todo[5] == "pasGrave")
                  p(class="#{todo[5]}") Priorité : Pas grave
                else
                  p(class="#{todo[5]}") Priorité :  #{todo[5]} 
                p date final : #{todo[2]} retard : #{todo[4]['day']} jours
                div.col-md-6
                  a.btn-info.btn(href="/todo/ajouterTache/#{todo[0]}")   Ajouter à ma liste
            else
              li
                h1.valide Nom de la tache : #{todo[1]} 
                if(todo[5]== "pasGrave")
                  p(class="#{todo[5]}") Priorité : Optionnel
                else
                  p(class="#{todo[5]}") Priorité :  #{todo[5]} 
                p date final : #{todo[2]} Encore : #{todo[4]['day']} jours
                div.col-md-6
                  a.btn-info.btn(href="/todo/ajouterTache/#{todo[0]}")   Ajouter à ma liste
      

      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
