<!DOCTYPE html>
<html>
  <head>
    <title>Ma todolist</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="global">
    <h1>Ma todolist</h1>

    <ul>
    <% todolist.forEach(function(todo, index) { %>
      <li><%= todo %>
      <a href="/todo/supprimer/<%= index %>"> X </a>
      </li>
    <% }); %>
    </ul>

    <form action="/todo/ajouter/" method="post">
      <p>
        <label for="newtodo">Que dois-je faire ?</label>
        <input type="text" name="newtodo" id="newtodo" autofocus />
        <input type="submit" />
      </p>
    </form>
    </div>
  </body>
</html>
