doctype html

html
  head
    title Ma Liste de Tâches
    style
      include style.css
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    #global
      div.col-md-12
        a.btn.btn-info(href=lien,download="my_data.csv")  Télécharger la liste en CSV
      h1 Ma Liste de Tâches #{nom} 
      div.col-md-6
        a.btn-danger.btn(href="/todo/deconnect/")   Déconnexion
      div.col-md-6
        a.btn-info.btn(href="/todo/tachesAutre/")   Taches des autres utilisateurs
      ul.list-group
        div.col-md-12
          a.margin.btn.btn-primary.btn-xs(href="/todo/triC") Croissant Nom
          a.margin.btn.btn-primary.btn-xs(href="/todo/triD") Decroissant Nom
          a.margin.btn.btn-primary.btn-xs(href="/todo/triDecDate") Croissant Date
          a.margin.btn.btn-primary.btn-xs(href="/todo/triCroiDate") Decroissant Date
          
        div.col-md-12
          a.margin.btn.btn-info.btn-xs(href="/todo/importance/Important/") Important
          a.margin.btn.btn-info.btn-xs(href="/todo/importance/Prioritaire") Prioritaire
          a.margin.btn.btn-info.btn-xs(href="/todo/importance/Secondaire") Secondaire
          a.margin.btn.btn-info.btn-xs(href="/todo/importance/pasGrave") Optionnel
        each todo, index in todolist
          div.col-md-5.divTache
            if todo[3]
              li
                h1.limit Nom de la tache : #{todo[1]} 
                if(todo[5] == "pasGrave")
                  p(class="#{todo[5]}") Priorité : Pas grave
                else
                  p(class="#{todo[5]}") Priorité :  #{todo[5]} 
                p date final : #{todo[2]} retard : #{todo[4]['day']} jours
                a(href="/todo/supprimer/#{todo[0]}")   Supprimer
                a(href="/todo/modifTemplate/#{todo[0]}")   Modifier
            else
              li
                h1.valide Nom de la tache : #{todo[1]} 
                if(todo[5]== "pasGrave")
                  p(class="#{todo[5]}") Priorité : Optionnel
                else
                  p(class="#{todo[5]}") Priorité :  #{todo[5]} 
                p date final : #{todo[2]} Encore : #{todo[4]['day']} jours

                a(href="/todo/supprimer/#{todo[0]}")   Supprimer
                a(href="/todo/modifTemplate/#{todo[0]}")   Modifier
      div.col-md-12
        form(action="/todo/ajouter/" , method="post")
          div.col-md-3
            label(for="newtodo") Que dois-je faire ?
            input.form-control(type="text" , name="newtodo" )
          div.col-md-3
            label(for="date") Date Limit :
            input.form-control(pattern ="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" type="text" ,name="date_limit")

          div.col-md-3
            div.form-group
              label(for="optradio") Publier :
              div.radio-inline
                input(type="radio", name="publier", value="1", checked=gender=="true")
                |Oui
              div.radio-inline
                input(type="radio", name="publier", value="0", checked=gender=="false")
                |Non
          div.col-md-3
            div.form-group
              label(for="importance") Importance de la tâches :
              select.form-control(name="important" id="importance")
               option(value="Important") Important
               option(value="Prioritaire") Prioritaire
               option(value="Secondaire") Secondaire
               option(value="pasGrave") Optionnel

          div.col-md-6.col-lg-offset-2
            input.form-control.btn.btn-success(type="submit")

      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
